<%= render partial: 'recipe_header', locals: { show_search_bar: false } %>

<div class="container">
  <div class="d-flex my-3">
    <%= image_tag(@recipe.image, alt: @recipe.title, class: "img-thumbnail bg-secondary border-0", style: "width: 500px; height:500px; ") %>
    <div class="mx-5 d-flex  flex-column mb-4">
      <h3 class="text-warning text-center"><%= @recipe.title %> </h3>

      <%= render partial: 'recipe_details', locals: { recipe: @recipe } %>

      <div class="text-white">
        <div class="fw-bold mt-2 mx-1">Ingredients:</div>
        <ul class="list-group mt-0 px-4">
          <% @recipe.ingredients.each do |ingredient| %>
            <li>
              <%= ingredient %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
